.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*.ipynb
antismash/
automlst_wrapper/
bigscape/
bigslice/
cblaster/
data_warehouse/
fastani/
genbank/
log_changes/
mash/
notebook/
roary/
site/
tables/
__pycache__/
gecco/
eggnog_roary/
